
@{
    ViewBag.Title = "InputedItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ADDED ITEM</h2>

<p>The item you have selected is now listed.</p>

<p>Please click below to return back to add more items.</p>

@Html.ActionLink("Return to Adding Items", "Index", "CalorieCounter")