@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personal Trainer</h1>
    <p class="lead">Personal Trainer is free online personal trainer that anyone can utilize.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register and get started on a whole new outlook on life!  If you are new or even a veteran to the workout life, register to get some benefical information.
        </p>
        <p><a class="btn btn-default" href="http://localhost:41172/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Information here is used to better yourself and give you better way of following your progress.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Power</h2>
        <p>Everything here gives you options and the power to choose.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>